<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>每天都被自己帅醒!</title>
	<link rel="stylesheet" href="">
	<script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
	<div id="app">
		<fieldset>
			<legend>数组数据更新操作</legend>
			<button @click="addPerson">添加一个人</button><br>
			姓名:<input type="text" v-model="name" /><br>
			年龄:<input type="text" v-model="age" /><br>
			描述:<input type="text" v-model="desc" /><br>
			<hr>
			<ul>
				<li v-for="(per,index) in persons" :key="per.id">
					id:{{per.id}}---索引:{{index}}---名字:{{per.name}}---年龄:{{per.age}}---描述信息:{{per.desc}}----
					<button @click="updatePerson(index,{id:++perId,name,age,desc})">修改</button>---
					<button @click="delPerson(index)">删除</button>---
				</li>
			</ul>
		</fieldset>
	</div>
	<script type="text/javascript">
		// v-for指令的案例
		const vm = new Vue({
			el: '#app',
			data: {
				name: '', // 存储名字
				age: 0, // 存储年龄
				desc: '', // 存储描述信息
				perId: 10, // id
				persons: [
					{ id: 1, name: '小甜甜', age: 20, desc: '很漂亮' },
					{ id: 2, name: '小华华', age: 30, desc: '很美丽' },
					{ id: 3, name: '小静静', age: 40, desc: '很好看' }
				]
			},
			methods: {
				// 添加一个人的信息
				addPerson() {
					const { name, age, desc } = this
					const obj = {
						id: ++this.perId,
						name,
						age,
						desc
					}
					// 把对象添加到数组中
					this.persons.push(obj)
					// 清空文本框中的数据
					this.name = ''
					this.age = ''
					this.desc = ''
				},
				// 删除人的信息
				delPerson(index) {
					this.persons.splice(index, 1)
				},
				// 修改数据
				updatePerson(index, per) {
					this.persons[index].id = per.id
					this.persons[index].name = per.name
					this.persons[index].age = per.age
					this.persons[index].desc = per.desc
				}
			},
			// 
		})

	</script>
</body>

</html>